{{ form_start(form, {'attr': {'class': 'form-container'}}) }}

    {% for field in form %}
        <div class="form-group">
            {{ form_label(field, null, {'attr': {'class': 'form-label'}}) }}
            {{ form_widget(field, {'attr': {'class': 'form-control'}}) }}
        </div>
    {% endfor %}

    <button class="btn">{{ button_label|default('Guardar') }}</button>

{{ form_end(form) }}
