{% extends 'base.html.twig' %}

{% block title %}DetallePedido index{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('Css/StyleFormularios.css') }}">
    <h1>DetallePedido</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Subtotal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for detalle_pedido in detalle_pedidos %}
            <tr>
                <td>{{ detalle_pedido.id }}</td>
                <td>{{ detalle_pedido.Subtotal }}</td>
                <td>
                    <a href="{{ path('app_detalle_pedido_show', {'id': detalle_pedido.id}) }}">show</a>
                    <a href="{{ path('app_detalle_pedido_edit', {'id': detalle_pedido.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_detalle_pedido_new') }}">Crear Detalle pedido</a>
    <a href="{{ path('app_menu') }}" class ="VolverMenu"> Volver al menu</a>
{% endblock %}
